*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/*WEBSITE CONTAINER*/
.website-container{
    min-height: 100vh;
    width: 700px;
    border: 1px solid black;
    background: linear-gradient(
    to bottom right,
    rgb(220, 216, 209),
    rgb(198, 194, 186),
    rgb(174, 169, 160)
    );
}

.header-filter-wrapper {
    position: sticky;
    top: 0;
    background-image: linear-gradient(rgba(140,140,140, .50), transparent);
}

/*MOBILE HEADER*/
.mobile-header {
    z-index: 99;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px 16px;
    justify-content: space-between;
    left: 0;
    right: 0;
}

.dark-mode-toggle {
    width: 60px;
    height: 30px;
    background: rgb(var(--secondary));
    border-radius: 50px;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 3px;
    box-sizing: border-box;
}

.dark-mode-switch {
    width: 24px;
    height: 24px;
    background: rgb(var(--primary));
    border-radius: 50%;
    transition: transform 0.3s ease;
}

/* active state (dark mode ON) */
.dark-mode-toggle.active .dark-mode-switch {
    transform: translateX(30px);
}

.mobile-search-wrapper {
    flex: 1;
    display: flex;
    align-items: center;
    border: 1.5px solid rgb(var(--primary));
    border-radius: 50px;
    padding: 0 12px;
    gap: 8px;
    width: 60%;
}

.mobile-search {
    flex: 1;
    background: transparent;
    border: none;        
    padding: 7px 0;
    font-size: 0.9rem;
    color: rgb(var(--primary));
    outline: none;
    width: 100%;
}

.mobile-search::placeholder {
    color: rgba(var(--primary), 0.7);
    font-size: 1rem;
}

.mobile-search-submit {
    background: transparent;
    border: none;
    color: rgb(var(--primary));
    font-size: 1rem;
    cursor: pointer;
    flex-shrink: 0;
    padding: 0;
}

.mobile-about-btn, .mobile-home-btn, .mobile-explore-btn, .mobile-account-btn {
    display: inline-block; 
    background: transparent;
    border: 1.5px solid rgb(var(--primary));
    border-radius: 50px;
    padding: 7px 16px;
    color: rgb(var(--primary));
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    flex-shrink: 0;
    white-space: nowrap;
    text-decoration: none; 
}

.mobile-about-btn:hover, .mobile-home-btn:hover, .mobile-explore-btn:hover, .mobile-account-btn:hover  {
    background: rgba(var(--primary), 0.45);
}

/*SEARCH FILTER*/
.filter-bar {
    padding-top: 5vh;
    padding-bottom: 2vh;
    display: flex;
    width: 100%;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.filter-btn {
  background: rgb(var(--secondary));
  border: none;
  border-radius: 999px;
  padding: 8px 20px;
  font-size: 1rem;
  font-weight: 600;
  color: rgb(var(--primary));
  cursor: pointer;
  transition: transform .2s ease;
}

.filter-btn:hover {
  background: #cacaca;
  transform: translateY(-5px);
}

/*RECOMMENDED CONTENT HEADER*/
.recommended-content-header {
    padding: 10vh 0 2vh 3vw;
    text-decoration: underline;
    color: rgb(var(--secondary));
}

/*RECIMMENDED CONTENT GRID*/
.content-grid-type-A {
    display: grid;
    margin: auto;
    grid-template-columns: repeat(2, 1fr); 
    width: 95%;
    gap: 2vw; 
}

/*CARD TYPE A*/
.card-type-A {
  width: 100%;
  height: 80%;
}

.search-link-type-A {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: inherit;
}

.card-image-type-A {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  border-radius: 15px;
  display: block;
  box-shadow: 5px 5px 5px rgb(140, 140, 140);
  transition: transform .2s ease;
}

.card-image-type-A:hover, .card-image-type-B:hover {
    transform: translateY(-5px);
}

/*NEW CONTENT HEADER*/
.new-content-header {
    padding: 5vh 0 2vh 3vw;
    text-decoration: underline;
    color: rgb(var(--secondary));
}
/*GRID TYPE B*/
.content-grid-type-B {
  display: grid;
  margin: auto;
  width: 95%;
  grid-template-columns: 1fr;     
  row-gap: 5vh; 
}

.search-link-type-B {
  display: block;
  width: 100%;
  text-decoration: none;
  color: inherit;
}

.card-image-type-B {
  display: block; 
  width: 100%;
  height: 30vh;
  object-fit: cover;
  border-radius: 25px;
  box-shadow: 5px 5px 5px rgb(140, 140, 140);
  transition: transform .2s ease;
}

.card-title {
    color: rgb(var(--secondary));
    margin: 5px 10px;
    font-size: 1.25rem;
}

.card-genere {
    color: rgb(var(--secondary));
    margin: 5px 10px;
    font-size: 1rem;
}

/*FOOTER*/
.website-footer {
    margin-top: 10vh;
    display: flex;
    width: 100%;
    height: 10vh;
    background-color: rgb(var(--secondary));
    color: rgb(var(--primary));
    align-items: center;
    justify-content: center;
}

@media(min-width: 800px) {
    .website-container {
        width: 100vw;
    }

    .content-grid-type-A {
        grid-template-columns: repeat(4, 1fr);
    }

    .content-grid-type-B {
        grid-template-columns: repeat(2, 1fr);
        gap: 3vw;
    }
}
